body {
    background-color: #00040c;
    color: rgb(243, 243, 233);
    font-family: "Libre Baskerville", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #960ef0;
    color: rgb(243, 220, 13));
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}